<html>
<body>
	<div id="app">
		<div v-if="true">true</div>
		<div v-if="false">false</div>
		<div v-if="true || false">true || false</div>
		<div v-if="parm">{{parm}}</div>
		<div v-if="parm.name === 'carl'">parm.name === {{parm.name}}</div>
	</div>
</body>

<script src="vue.js"></script>
<script>
// ----------------------------------------------------------------
// v-if determines if tag will exist in DOM
var app = new Vue({
	el: '#app',
	data: {
		parm: {name:'carl'}
	}
});
// ----------------------------------------------------------------
</script>

</html>
